.text {
  font-family: "Bebas Neue";
  font-weight: bold;
  color: white;
  padding-left: 20%;
  font-size: 300%;
  width: 60%;
}

.title {
  font-family: "Bebas Neue";
  font-weight: bold;
  color: white;
  padding-left: 20%;
  padding-top: 10%;
  font-size: 800%;
}

.mainTitle {
  font-family: "Bebas Neue";
  font-weight: bold;
  color: white;
  padding-left: 20%;
  padding-top: 5%;
  font-size: 1200%;
}

.phone {
  scale: 0.8;
}

.secondaryLandingPage {
  padding-top: 30%;
  padding-bottom: 0;
  font-size: 80%;
}
.landingPage {
  padding-bottom: 0;
  font-size: 80%;
}
